* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 70%;
  height: 1000px;
  margin: 0 auto;
}

.nav {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.el_2,
.el_4 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.el_1 .block__content,
.el_3 .block__content,
.el_5 .block__content {
  width: 2px;
  height: 90px;
  -webkit-columns: 10px 1;
          columns: 10px 1;
}

.circle_big {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  float: left;
  background-color: red;
  z-index: 3;
  position: relative;
}

.circle_small {
  width: 20px;
  height: 20px;
  border-radius: 25px;
  float: left;
  border: 1px solid #7c6f6f;
  margin-top: 5px;
  background-color: #22ff22;
}

.name {
  width: 120px;
  margin-left: -50px;
  margin-top: 30px;
}

.title, .text {
  text-align: center;
}

.line {
  color: black;
  size: 2px;
  margin-top: 15px;
  z-index: 1;
}
