* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav article ads" "footer footer footer";
  -ms-grid-rows: 80px 1fr 70px;
      grid-template-rows: 80px 1fr 70px;
  -ms-grid-columns: 20% 1fr 15%;
      grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body {
        grid-template-areas: "header" "article" "ads" "nav" "footer";
    -ms-grid-rows: 80px 1fr 70px 1fr 70px;
        grid-template-rows: 80px 1fr 70px 1fr 70px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

header, footer, article, nav, div {
  padding: 1.2em;
  background: gold;
}

#pageHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

#pageFooter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

#mainArticle {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: article;
}

#mainNav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

#siteAds {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: ads;
}
