@import "main";
%text_1 {
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
%nmbstpP {
    width: 150px;
    height: 28px;
    color: #6c6c6c;
    font-family: "Segoe UI";
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}
%namestpP {
    width: 150px;
    height: 23px;
    color: #6c6c6c;
    font-family: "Segoe UI";
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    text-align: center;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
}
svg rect {
    stroke: #797979;
    stroke-width: 3;
    transition: 0.8s;
    stroke-dasharray: 300, 0;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 360px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e2e2e;
}

.login__contanier {
    width: 690px;
    height: 360px;
    background-color: #1f1f1f;
    border-radius: 32px;
    display: none;
}
.nav {
    width: 84%;
    height: 60px;
    padding-top: 35px;
    margin: 0 auto;
}
.nav__btn {
    width: 50%;
    float: left;
    text-align: center;
    @extend %text_1;
}
.nav__btn a {
    text-decoration: none;
    color: white;
    transition: color 1s linear;
}
#go_register_block:hover {
    color: #edfd0a;
}
hr {
    color: white;
    width: 96%;
}
.login__form {
    width: 80%;
    height: 230px;
    margin: 25px auto;
    text-align: center;
}
.input__style {
    width: 80%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #797979;
    background-color: #1f1f1f;
    @extend %text_1;
    color: #6c6c6c;
    padding-left: 4%;
}
.input__style:focus {
    box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.8);
}
.messg__area {
    width: 100%;
    height: 20px;
    text-align: left;
    margin: 10px;
}
.mess__err {
    display: none;
    font-size: 16px;
    margin-left: 90px;
    @extend %text_1;
    color: #f70000;
    text-shadow: 0 0 20px rgba($color: #f70000, $alpha: 0.8);
}
.mess__good {
    display: none;
    font-size: 16px;
    margin-left: 90px;
    @extend %text_1;
    color: #73ff4a;
}
.login__button {
    @extend %text_1;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
}
.login__button:hover svg rect {
    stroke-width: 3;
    stroke-dasharray: 15, 15;
    stroke-dashoffset: 7;
}
// регистрация регистрация регистрация регистрация регистрация регистрация регистрация регистрация регистрация регистрация регистрация регистрация
.register__block {
    display: none;
}

@mixin circle($w) {
    width: $w;
    height: $w;
    border-radius: 25px;
    float: left;
}
#go_login:hover {
    color: #edfd0a;
    // text-shadow: 0 0 20px #fd9c0a;
}
.steps {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    .element_2,
    .element_4 {
        flex-grow: 1;
    }
    .element_1,
    .element_3,
    .element_5 {
        .content {
            width: 2px;
            height: 90px;
            columns: 10px 1;
        }
    }
    .circle {
        position: relative;
        z-index: 3;
    }
    .element_1 .circle {
        @include circle(30px);
        background-color: #ffffff;
        margin-left: -14px;
    }
    .element_3 .circle {
        @include circle(20px);
        border: 1px solid #707070;
        margin-top: 5px;
        background-color: #1f1f1f;
        margin-left: -9px;
    }
    .element_5 .circle {
        @include circle(20px);
        border: 1px solid #707070;
        margin-top: 5px;
        background-color: #1f1f1f;
        margin-left: -9px;
    }
    .name {
        width: 150px;
        margin-left: -74px;
        margin-top: 30px;
    }
    .title,
    .text {
        text-align: center;
    }
    .title {
        @extend %nmbstpP;
    }
    .text {
        @extend %namestpP;
    }

    .steps__hr {
        margin-top: 12.5px;
        color: #707070;
    }
}
.register__step__1 {
    /* Style for "Rectangle" */
    width: 690px;
    height: 572px;
    background-color: #1f1f1f;
    border-radius: 30px;
    .steps {
        .element_1 {
            .title,
            .text {
                color: #ffffff;
            }
        }
    }
}
.input__block {
    width: 80%;
    margin-left: 10%;
    margin-top: 25px;
    text-align: center;
}

.green__div {
    width: 25px;
    height: 50px;
    background-color: #73ff4a;
    position: absolute;
    margin-left: 50px;
    border-radius: 1000px 0 0 1000px;
    display: none;
    box-shadow: 0 0 50px rgba($color: #73ff4a, $alpha: 0.8);
}

.next__step__2__button {
    @extend %text_1;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px auto;
    position: relative;
    cursor: pointer;
}
.next__step__2__button:hover svg rect {
    stroke-width: 3;
    stroke-dasharray: 5, 5;
    stroke-dashoffset: 0;
}
//  ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА ШАГ ДВА
.register__step__2 {
    width: 1459px;
    height: 650px;
    background-color: #1f1f1f;
    border-radius: 30px;
    display: none;
    .nav {
        width: 70%;
        height: 60px;
        padding-top: 35px;
        margin: 0 auto;
    }

    .steps {
        .element_3 .circle {
            @include circle(30px);
            background-color: #ffffff;
            margin-left: -14px;
            margin-top: 0;
        }
        .element_1 .circle {
            @include circle(20px);
            border: 1px solid #707070;
            margin-top: 5px;
            background-color: #1f1f1f;
            margin-left: -9px;
        }
        .element_5 .circle {
            @include circle(20px);
            border: 1px solid #707070;
            margin-top: 5px;
            background-color: #1f1f1f;
            margin-left: -9px;
        }
        .element_3 {
            .title,
            .text {
                color: #ffffff;
            }
        }
    }

    .information__block__row {
        width: 100%;
        height: 300px;
        margin-top: 70px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .one__information__block__column {
        height: 300px;
        flex-basis: 30%;
    }
    .one__area__item {
        width: 100%;
        height: 100px;
        background-color: #1f1f1f;
        text-align: center;
    }
    .one__area {
        width: 90%;
        height: 90px;
        border-radius: 30px;
        border: 1px solid #797979;
        background-color: #1f1f1f;
        overflow: auto;
        resize: none;
        padding: 10px 15px 5px 20px;
        color: #ffffff;
        font-family: "Segoe UI";
        font-size: 17px;
        font-weight: 400;
    }
    .one__area:focus {
        box-shadow: 0 0 20px #707070;
    }
    .one__information__block__column:nth-child(3) {
        .one__area__item {
            height: 290px;
        }
        .one__area {
            height: 290px;
        }
    }
    .buttons__step__2 {
        margin: 0 auto;
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .prev__step__1__button {
        @extend %text_1;
        width: 100px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 10px auto;
        position: relative;
        cursor: pointer;
    }
    .prev__step__1__button:hover svg rect {
        stroke: #f30000;
        stroke-width: 3;
        stroke-dasharray: 5, 5;
        stroke-dashoffset: 0;
    }

    .go__foto {
        @extend %text_1;
        width: 100px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 10px auto;
        position: relative;
        cursor: pointer;
    }
    .go__foto:hover svg rect {
        stroke-width: 3;
        stroke-dasharray: 5, 5;
        stroke-dashoffset: 0;
    }
    .next__step__3__button {
        @extend %text_1;
        width: 100px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 10px auto;
        position: relative;
        cursor: pointer;
    }
    .next__step__3__button:hover svg rect {
        stroke: greenyellow;
        stroke-width: 3;
        stroke-dasharray: 5, 5;
        stroke-dashoffset: 0;
    }
}
//ШАГ ТРИ ---------------------------------------------------------------------------------------------------------------------
.register__step__3 {
    width: 774px;
    height: 806px;
    background-color: #1f1f1f;
    border-radius: 30px;
    display: none;
    .steps {
        .element_5 .circle {
            @include circle(30px);
            background-color: #ffffff;
            margin-left: -14px;
            margin-top: 0;
        }
        .element_1 .circle {
            @include circle(20px);
            border: 1px solid #707070;
            margin-top: 5px;
            background-color: #1f1f1f;
            margin-left: -9px;
        }
        .element_3 .circle {
            @include circle(20px);
            border: 1px solid #707070;
            margin-top: 5px;
            background-color: #1f1f1f;
            margin-left: -9px;
        }
        .element_5 {
            .title,
            .text {
                color: #ffffff;
            }
        }
    }
    .finish__content {
        width: 80%;
        height: 470px;
        margin: 0 auto;
        .block__row {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        .block__element {
            margin-top: 20px;
        }
        .block__element_1 {
            flex: 0 1 100%;
        }

        .block__element_2,
        .block__element_3,
        .block__element_4,
        .block__element_5,
        .block__element_6,
        .block__element_7 {
            flex: 0 1 50%;
        }
        .block__content {
            // background-color: #18b5a4; /* плюс прочие стили для текста, отступы */
            .title {
                color: #8b8a8a;
                font-family: "Segoe UI";
                font-size: 15px;
                font-weight: 600;
                margin-top: 10px;
            }
            .text {
                width: 90%;
                // height: 70px;
                text-align: justify;
                color: #ffffff;
                font-family: "Segoe UI";
                font-size: 17px;
                font-weight: 400;
            }
            .big_text {
                width: 100%;
            }
        }
        .block__element:nth-child(odd) {
            .text {
                width: 100%;
            }
        }
    }
    .buttons__step__3 {
        margin: 10px auto;
        width: 90%;
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .prev__step__2__button {
        @extend %text_1;
        width: 100px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        position: relative;
        cursor: pointer;
    }
    .prev__step__2__button:hover svg rect {
        stroke: red;
        stroke-width: 5;
        stroke-dasharray: 5, 5;
        stroke-dashoffset: 0;
    }
    .register__finish__button {
        @extend %text_1;
        width: 100px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        // margin: 10px auto;
        position: relative;
        cursor: pointer;
    }
    .register__finish__button:hover svg rect {
        stroke: greenyellow;
        stroke-width: 5;
        stroke-dasharray: 5, 5;
        stroke-dashoffset: 0;
    }
}
// @media (max-width: 1905px) {

// }
@media (max-width: 1560px) {
    .register__block {
        width: 100%;
    }
    .register__step__1 {
        margin: 0 auto;
    }

    .register__step__2 {
        width: 90%;
        margin: 0 auto;
    }
    .register__step__3{
        margin: 50px auto;
        height: 780px;
    }
}
@media (max-width: 1370px) {
    body {
        background-color: #2e2e2e;
    }
    .wrapper {
        padding-top: 50px;
        align-items: flex-start;
    }
    .register__step__2 {
        width: 60%;
        height: 900px;
        margin: 15px auto;
        .information__block__row {
            margin-top: 30px;
            height: 570px;
        }
        .one__information__block__column {
            height: 210px;
            margin-top: -40px;
            flex-basis: 100%;
        }
        .one__information__block__column:first-child {
            height: 210px;
            margin-top: 0px;
            flex-basis: 100%;
        }
        .one__information__block__column:last-child {
            height: 110px;
        }
        .one__area__item {
            height: 70px;
        }
        .one__area {
            height: 60px;
            font-size: 15px;
        }
        .one__information__block__column:nth-child(3) {
            .one__area__item {
                height: 110px;
            }
            .one__area {
                height: 110px;
            }
        }
    }
}
@media (max-width: 800px) {
  .register__step__3 , .register__step__2 {
        width: 90%;
    }

}
@media (max-width: 750px) {
    .login__contanier {
        margin: 10px;
        .login__form {
            .messg__area {
                text-align: center;
                span {
                    margin: 0;
                }
            }
        }
    }
    .register__step__1, .register__step__2, .register__step__3{
        .nav {
            margin-top: 0px;
            padding-top: 15px;
        }
        .steps {
            width: 60%;

            .name {
                width: 100px;
                // margin-top: 20px;
                margin-left: -49px;
                .title {
                    width: 100px;
                    font-size: 15px;
                    height: 20px;
                }
                .text {
                    width: 120px;
                    font-size: 12px;
                    margin-left: -10px;
                }
            }
        }
    }
    .register__step__1 {
        width: 90%;
        margin: 0 auto;
        height: 572px;
     
    }
    .input__block {
        margin-top: 25px;
        .input__style {
            font-size: 16px;
            height: 45px;
            padding-left: 12%;
        }
        .messg__area {
            text-align: center;
            span {
                margin: 0;
            }
        }
        .input__element {
            .green__div {
                height: 45px;
                margin-left: 6%;
            }
        }
    }
    .next__step__2__button {
        width: 100px;
        height: 50px;
    }

    .register__step__3 {
        height: 956px;
   
        .finish__content {
            width: 80%;
            height: 670px;
            margin: 0 auto;
            .block__row {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
            }
            .block__element {
                margin-top: 20px;
                flex: 0 1 100%;
            }

            .block__content {
                // background-color: #18b5a4; /* плюс прочие стили для текста, отступы */
                .title {
                    color: #8b8a8a;
                    font-family: "Segoe UI";
                    font-size: 15px;
                    font-weight: 600;
                    margin-top: 10px;
                }
                .text {
                    width: 90%;
                    // height: 70px;
                    text-align: justify;
                    color: #ffffff;
                    font-family: "Segoe UI";
                    font-size: 17px;
                    font-weight: 400;
                }
                .big_text {
                    width: 100%;
                }
            }
            .block__element:nth-child(odd) {
                .text {
                    width: 100%;
                }
            }
        }
        .buttons__step__3 {
            margin: 10px auto;
            width: 90%;
            height: 70px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
        
    }
}

@media (max-width: 600px) {
}

@media (max-width: 385px) {
    .register__step__2 {
        height: 950px;
    }
}

@media (orientation: landscape) {
}
